@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.float-label {
    position: relative;
}
.ant-input::placeholder {
    color: #999;
    opacity: 1;
}

.label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 5px;
    transition: 0.2s ease all;
}

.as-placeholder {
    color: gray;
}

.as-label {
    top: -8px;
    font-size: 12px !important;
    background: white;
    padding: 0 4px;
    margin-left: -4px;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}

*::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}
